.card {
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.24)
  transition: background-color 0.5s ease;
}

.card, .card-header, .card-footer {
  border: none;
  border-radius: 0;
}

.card-header, .card-footer {
  background-color: transparent;
  padding: 1rem .5rem;
}

#location-wrapper {
  font-size: 1.1rem;
}

#location-icon {
  padding-right: .5rem;
}

.card-block {
  padding: 1.5rem 0;
}

#indicator {
  height: 165px;
  position: relative;
}

#indicator i {
  left: 50%;
  margin: -8% 0 0 -25%;
  position: absolute;
  top: 50%;
  width: 50%;
}

canvas {
  margin-bottom: 1rem;
  max-width: 250px;
}

.card-block, .card-footer {
  text-align: center;
}

.card-footer {
  padding-bottom: .5rem;
}

#detail {
  font-size: .8rem;
}

#attribute {
  padding-top: .5rem;
}

p {
  margin: .2rem;
}

p:not(.wind-label) {
  text-transform: uppercase;
}
